.card {
  position: relative;
  width: 45vh;
  height: 20vh;
  background-image: linear-gradient(0deg, #d8d8d8 0%, #c0c0c0 100%);
  margin-bottom: 10vh;
  border-radius: 1vh;
}
.icon {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 5vh;
  height: 5vh;
  color: rgb(115, 110, 182);
}
.number {
  position: absolute;
  top: 10%;
  right: 30%;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(98, 94, 165);
}
.separation {
  position: absolute;
  top: 50%;
  left: 15%;
}
.title {
  position: absolute;
  bottom: 0%;
  text-align: center;
}
