.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: #dcd4ca;
  width: 100%;
  height: 30%;
  justify-content: center;
}
.hospital_logo {
  margin-left: 15%;
  padding: 15px;
  width: 50px;
}

.nabh_logo {
  padding: 15px;
  width: 50px;
}
